/* src/index.css */
@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  --animate-alarm: alarm 0.2s ease-in-out ;

  @keyframes alarm {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px); /* Usog pakaliwa */
    }
    75% {
      transform: translateX(4px);  /* Usog pakanan */
    }
  }
}

@layer components {
  /* Gawing bilog ang crop area (Discord style) */
  .cropper-view-box,
  .cropper-face {
    @apply rounded-xl border-4;
  }

  /* Palitan ang border/outline ng crop box */
  .cropper-view-box {
    @apply outline outline-2 outline-indigo-500;
  }

  /* Linisin ang drag handles (kung gusto mong itago) */
  .cropper-line, .cropper-point {
    @apply opacity-0;
  }
}
